#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.reviews-list {
  display: flex;
  flex-direction: column;
}

.review-card {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid black;
  border-radius: 8px;
  margin: 10px;
  padding: 10px;
}

.review-card-img {
  max-width: 500px;
  width: 50%;
}

.row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: column;
  max-height: 1000px;
  width: 300px;
}
